{% extends 'interface/base.html' %}
{% load static %}



{% block content %}
	<div class="col-sm-10">
		<h3 class="text-white my-5"> Store</h3>
		<table class="table table-hover bg-dak">
				<thead>
					<tr class="text-center">
						<th scope="col" style="width: 12%;">Length</th>
						<th scope="col" style="width: 12%;">Breath</th>
						<th scope="col" style="width: 12%;">Height</th>
						<th scope="col" style="width: 12%;">Area</th>
						<th scope="col" style="width: 12%;">Volumn</th>

						{% if request.user.is_staff %}
							<th scope="col" style="width: 12%;">Created By</th>
							<th scope="col" style="width: 12%;">Last Update</th>
							<th scope="col" style="width: 16%;">Action</th>
						{% else %}
							<br>
						{% endif %}

					</tr> 
				</thead>
				<tbody>
					{% for ps in boxes %}
						<tr class="text-center">
							<td>{{ps.length}}</td>
							<td>{{ps.breadth}}</td>
							<td>{{ps.height}}</td>
							<td>{{ps.area}}</td>
							<td>{{ps.volume}}</td>
							{% if request.user.is_staff %}
								<td>{{ps.creator}}</td>
								<td>{{ps.last_update}}</td>
								<td class="text-center"><a href="{% url 'updatepost' ps.id %}" class="btn btn-warning btn-sm">Update</a>
								</td>
							{% else %}
								<br>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
	</div>

{% endblock content %}